:root {
	/* Darkmode */
	--dark-primary: #0079ff;
	--dark-primary-hover: #60abff;

	--dark-txt-high-contrast: #fff;
	--dark-txt-mid-contrast: #ffff;
	--dark-txt-low-contrast: #fff;

	--dark-txt-search: #fff;
	--dark-txt-search-placeholder: #fff;

	--dark-bg: #141d2f;
	--dark-bg-secondary: #1e2a47;

	--theme-switch-btn-hover: #90a4d4;

	/* Neutral */
	--error: #f74646;
}

body {
	background-color: var(--dark-bg);
	color: var(--dark-txt-high-contrast);
}

.header {
	color: var(--dark-txt-low-contrast);
}

.main__search input {
	background-color: var(--dark-bg-secondary);
}

.main__search input::placeholder {
	color: var(--dark-txt-high-contrast);
}

.main__search {
	background-color: var(--dark-bg-secondary);
}

.main__search input {
	color: var(--dark-txt-high-contrast);
}

.search__submitBtn {
	background-color: var(--dark-primary);
	color: var(--dark-txt-high-contrast);
}

.search__submitBtn:hover {
	background-color: var(--dark-primary-hover);
	cursor: pointer;
}

.profile__details--dateHidden {
	display: none;
}

.user__details {
	background-color: var(--dark-bg-secondary);
}

.profile__details--login {
	color: var(--dark-primary);
}

.profile__stats {
	background-color: var(--dark-bg);
}

.profile__stats > div {
	color: var(--dark-txt-high-contrast);
}

.stats__span--bold {
	color: var(--dark-txt-high-contrast);
}
